<!-- Footer -->
<!-- <footer class="page-footer center-on-small-only pt-0 mt-5 black fixed-bottom">

  <div class="footer-copyright text-center py-2">
    <div class="container-fluid">
      © 2019 Copyright:
      <a href="https://www.orange.com"> Orange</a>
    </div>
  </div>
  <div class="footer-copyright text-center py-2">
    <div class="container-fluid">
      © 2019 Copyright:
      <a href="https://www.orange.com"> Orange</a>
    </div>
  </div>

</footer> -->

<!-- Footer -->
<footer class="page-footer font-small special-color-dark darken-3 pt-0 mt-5">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 ">
          <div class="flex-center">

            <!-- Facebook -->
            <a href="https://github.com/DavidLepoultier/mgstatus-angular" target="_blank" class="my-2">
              <i class="fab fa-git-square fa-2x"></i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2019 Copyright:
      <a href="https://www.orange.com"> Orange</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

<!-- 
<footer class="page-footer center-on-small-only pt-0 mt-5 fixed-bottom">
<div class="footer-copyright">
<div class="container-fluid">
© 2019 Copyright: <a href="https://www.orange.com"> Orange </a>
</div>
</div>
</footer> -->
