<mdb-breadcrumb>
  <mdb-breadcrumb-item class="active">myApps</mdb-breadcrumb-item>  
</mdb-breadcrumb>
<notifier-container></notifier-container>
<div class="container-fluid mx-auto p-3 mt-2">
  <div class="row mt-4">
    <div class="col-md-1 col-xl-2 min-heigth"></div>
    <div class="col-md-10 col-xl-8">
      <!-- Table with panel -->
      <div class="card row pb-5">
        <!--Card image-->
        <div class="row title-project gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
          <div></div>
          <div class="font-weight-bold">
            my Applications
          </div>
          <div>
              <button type="button" outline="true" class="p-2" mdbBtn color="light" data-toggle="modal" data-target="#basicExample" (click)="fram.show()">
                <mdb-icon fas icon="plus-circle" size="2x"></mdb-icon>
              </button>
          </div>
        </div>
        <!--/Card image-->
        <div class="row">
          <div class="col-md-4 px-5">
            <div class="md-form my-0">
              <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
              <label for="search">Search</label>
            </div>
          </div>
        </div>
        <div class="px-4">
          <mat-accordion>
            <mat-expansion-panel style="border-radius: 0rem;" *ngFor="let el of myApps; let i = index">
                <mat-expansion-panel-header>
                  <mat-panel-title class="text-muted font-weight-bold">{{ el.name }}</mat-panel-title>
                  <mat-panel-description>
                    <ng-container *ngIf="el.status === 'approved'; then approved; else notApproved"></ng-container>
                    <ng-template #approved>
                      <mdb-badge pill="true" success="true" class="badge-font">{{el.status | titlecase}}</mdb-badge>
                    </ng-template>
                    <ng-template #notApproved>
                      <mdb-badge  pill="true" warning="true" class="badge-font">{{el.status | titlecase}}</mdb-badge>
                    </ng-template>
                  </mat-panel-description>
                </mat-expansion-panel-header>
              <!-- </a> -->
              <div class="row">
                <mat-tab-group animationDuration="0ms" class="col-md-10">
                  <mat-tab label="Keys">
                    <form class="md-form text-center ">                                              
                      <div class="md-form my-0 pb-2">
                        <input [type]="show ? 'text' : 'password'" value="{{el.credentials[0].consumerKey}}" class="form-control" mdbInput disabled="disabled">
                        <span (click)="showInput()" class="fas {{ eyeIcon }} field-icon"></span>
                        <label for="consumerKey">Consumer Key</label>
                      </div>
                      <div class="md-form my-0 pb-2">
                        <input [type]="show ? 'text' : 'password'" value="{{el.credentials[0].consumerSecret}}" class="form-control" mdbInput disabled="disabled">
                        <label for="consumerSecret">Consumer Secret</label>
                      </div>
                      <div class="md-form my-0 pb-2">
                        <input type="text" value="{{el.credentials[0].issuedAt | dateFormat}}" class="form-control" mdbInput disabled="disabled">
                        <label for="keyIssued">Key Issued</label>
                      </div>
                      <div class="md-form my-0">
                        <input type="text" value="{{el.credentials[0].expiresAt | dateFormat}}" class="form-control" mdbInput disabled="disabled">
                        <label for="expires">Expires</label>
                      </div>
                    </form>
                  </mat-tab>
                  <mat-tab label="Products" >
                    <form class="md-form text-center ">                 
                      <div *ngFor="let p of el.credentials[0].apiProducts" class="md-form my-0 pb-2">
                        <input type="text" value="{{p.apiproduct}}" class="form-control" mdbInput disabled="disabled">
                        <label for="ApiProduct">Api Product</label>
                        <ng-container *ngIf="p.status === 'approved'; then pApproved; else pNotApproved"></ng-container>
                        <ng-template #pApproved>
                          <mdb-badge pill="true" success="true" class="p-1 badge-font badge-product">{{p.status | titlecase}}</mdb-badge>
                        </ng-template>
                        <ng-template #pNotApproved>
                          <mdb-badge  pill="true" warning="true" class="p-1 badge-font badge-product">{{p.status | titlecase}}</mdb-badge>
                        </ng-template>
                      </div>
                    </form>
                  </mat-tab>
                  <mat-tab label="Details">
                    <form class="md-form text-center ">                 
                      <div *ngFor="let a of el.attributes" class="md-form my-0 pb-2">
                        <input type="text" value="{{a.value}}" class="form-control" mdbInput disabled="disabled">
                        <label for="{{a.value}}">{{a.name}}</label>
                      </div>
                      <div class="md-form my-0 pb-2">
                        <input type="text" value="{{el.callbackUrl}}" class="form-control" mdbInput disabled="disabled">
                        <label for="callbackUrl">callbackUrl</label>
                      </div>
                    </form>
                  </mat-tab>
                </mat-tab-group>
                <div class="col-md-1 mt-3">
                  <button type="button" outline="true" class="px-3" mdbBtn color="light" data-toggle="modal" data-target="#basicExample" (click)="modalShow(el.name)">
                    <mdb-icon fas icon="trash-alt" size="2x"></mdb-icon>
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xl-2 min-heigth"></div>
  </div>
</div>


<div [style.display]="showModal ? 'block' : 'none'" [class]="showModal ? 'modal fade top in show' : 'modal fade top'" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <div class="text-center mt-5 mb-4">
        <h4 class="modal-title font-weight-bold">Are you sure?</h4>
      </div>
      <div class="text-muted text-center mb-2">
        <p><i>Do you really want to delete application <span class="font-weight-bold">{{ content }}</span>?</i></p>
      </div>
      <div class="modal-content">
        <div class="row">
        <div class="col-md-6">
          <button type="button" mdbBtn color="light" class="d-flex ml-auto waves-light my-3" data-dismiss="modal" (click)="modalHide()" mdbWavesEffect>
            Cancel
          </button>
        </div>
        <div class="col-md-6">
          <button type="button" mdbBtn color="danger" class="d-flex mr-auto waves-light my-3" mdbWavesEffect>
            Delete
          </button>
        </div>
      </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #fram="mdbModal" class="modal fade top" id="createModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <div class="text-center mt-5 mb-4">
        <h4 class="modal-title font-weight-bold">Create Apps</h4>
      </div>
      <div class="modal-content">
        <div class="row">
        <div class="col-md-6">
          <button type="button" mdbBtn color="light" class="d-flex ml-auto waves-light my-3" data-dismiss="modal" (click)="fram.hide()" mdbWavesEffect>
            Cancel
          </button>
        </div>
        <div class="col-md-6">
          <button type="button" mdbBtn color="danger" class="d-flex mr-auto waves-light my-3" mdbWavesEffect>
            Delete
          </button>
        </div>
      </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>