.min-heigth-tab {
	min-height: 270px;
}

.mat-expansion-panel-header-description {
  display: unset;
}

.badge-product {
  float: right;
  margin-top: -35px;
  z-index: 2;
}

[class^="btn-outline-"],
[class*=" btn-outline-"] {
  border: 0 !important;
  box-shadow: unset;
  margin: 0;
}

[class^="title-project"],
[class*=" title-project"] {
  padding: 1.7rem;
  //font-size: 2rem;
  color: white;
  text-align: left;
  margin-left: 1rem;
  margin-top: -1.5rem;
  border-radius: 3px;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);
  .h2 {
    font-weight: 500;
  }
  .data-title {
    float: left;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1rem;
    p {
      color: gray;
      font-size: 1.10rem;
      font-weight: 500;
    }
  }
  .data {
    margin-left: auto;
    float: right;
    margin-top: 1rem;
    text-align: right;
    margin-right: 2rem;
    p {
      color: gray;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

.card {
  //cursor: pointer;
  transition: box-shadow .2s linear;
  -webkit-transition: box-shadow .2s linear;
  border-radius: 0rem;
}

.data-table-right {
  margin-left: auto;
  text-align: right;
}

.badge-font {
  font-size: 0.9rem;
  float: right;
  text-align: right;
  margin-right: 2rem;
}

.table-link {
  color: #007bff;
}