<wrapper [class]='myClass'>
  <div class="header"></div>
  <div class="page">
    <div class="container-fluid w-responsive">
      <div class="row">
        <div class="col-md-12 min-heigth">
          <div class="card">
            <p class="text-center h3 pt-5 mb-4">Flexible Setup</p>
            <form class="text-center" [formGroup]="flexibleForm" novalidate (ngSubmit)="saveConfig(flexibleForm.value)">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                  <mat-expansion-panel class="mb-3">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Internet ELB
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Internet ELB ID" formControlName="INTERNET_ELB_ID" required>
                      <mat-error *ngFor="let validation of validation_messages.INTERNET_ELB_ID">
                        <mat-error *ngIf="flexibleForm.get('INTERNET_ELB_ID').hasError(validation.type) && (flexibleForm.get('INTERNET_ELB_ID').dirty || flexibleForm.get('INTERNET_ELB_ID').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Internet ELB IP" formControlName="INTERNET_ELB_IP" required>
                      <mat-error *ngFor="let validation of validation_messages.INTERNET_ELB_IP">
                        <mat-error *ngIf="flexibleForm.get('INTERNET_ELB_IP').hasError(validation.type) && (flexibleForm.get('INTERNET_ELB_IP').dirty || flexibleForm.get('INTERNET_ELB_IP').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                  </mat-expansion-panel>

                  <button class="mb-4" color="orange" mat-raised-button type="submit" [disabled]="!flexibleForm.valid">
                    Save config
                  </button>

                </div>
                <div class="col-1"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</wrapper>
