<wrapper [class]='myClass'>
  <div class="header"></div>
  <div class="page">
    <div class="container-fluid w-responsive">
      <div class="row">
        <div class="col-md-12 min-heigth">
          <div class="card">
            <p class="text-center h3 pt-5 mb-4">Flexible Setup</p>
            <form class="text-center" [formGroup]="flexibleForm" novalidate (ngSubmit)="saveConfig(flexibleForm.value)">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                  <mat-expansion-panel class="mb-3">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        PostgreSQL
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="PostegreSQL IP" formControlName="KONG_PG_HOST" required>
                      <mat-error *ngFor="let validation of account_validation_messages.KONG_PG_HOST">
                        <mat-error *ngIf="flexibleForm.get('KONG_PG_HOST').hasError(validation.type) && (flexibleForm.get('KONG_PG_HOST').dirty || flexibleForm.get('KONG_PG_HOST').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="PostegreSQL Port" formControlName="KONG_PG_PORT" required>
                      <mat-error *ngFor="let validation of account_validation_messages.KONG_PG_PORT">
                        <mat-error *ngIf="flexibleForm.get('KONG_PG_PORT').hasError(validation.type) && (flexibleForm.get('KONG_PG_PORT').dirty || flexibleForm.get('KONG_PG_PORT').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="PostgreSQL User" formControlName="PGUSER" required>
                      <mat-error *ngFor="let validation of account_validation_messages.PGUSER">
                        <mat-error *ngIf="flexibleForm.get('PGUSER').hasError(validation.type) && (flexibleForm.get('PGUSER').dirty || flexibleForm.get('PGUSER').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput [type]="show ? 'text' : 'password'" placeholder="PostgreSQL Password" formControlName="PGPASSWORD" required>
                      <mat-error *ngFor="let validation of account_validation_messages.PGPASSWORD">
                        <mat-error *ngIf="flexibleForm.get('PGPASSWORD').hasError(validation.type) && (flexibleForm.get('PGPASSWORD').dirty || flexibleForm.get('PGPASSWORD').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                      <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                  </mat-expansion-panel>
                  <mat-expansion-panel class="mb-3">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Control Plane
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Control plane ELB ID" formControlName="cpElbId" required>
                      <mat-error *ngFor="let validation of account_validation_messages.cpElbId">
                        <mat-error *ngIf="flexibleForm.get('cpElbId').hasError(validation.type) && (flexibleForm.get('cpElbId').dirty || flexibleForm.get('cpElbId').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Control plane ELB IP" formControlName="cpElbIp" required>
                      <mat-error *ngFor="let validation of account_validation_messages.cpElbIp">
                        <mat-error *ngIf="flexibleForm.get('cpElbIp').hasError(validation.type) && (flexibleForm.get('cpElbIp').dirty || flexibleForm.get('cpElbIp').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                  </mat-expansion-panel>
                  <mat-expansion-panel class="mb-3">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Internet ELB
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Internet ELB ID" formControlName="INTERNET_ELB_ID" required>
                      <mat-error *ngFor="let validation of account_validation_messages.INTERNET_ELB_ID">
                        <mat-error *ngIf="flexibleForm.get('INTERNET_ELB_ID').hasError(validation.type) && (flexibleForm.get('INTERNET_ELB_ID').dirty || flexibleForm.get('INTERNET_ELB_ID').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Internet ELB IP" formControlName="INTERNET_ELB_IP" required>
                      <mat-error *ngFor="let validation of account_validation_messages.cpElbIp">
                        <mat-error *ngIf="flexibleForm.get('INTERNET_ELB_IP').hasError(validation.type) && (flexibleForm.get('INTERNET_ELB_IP').dirty || flexibleForm.get('INTERNET_ELB_IP').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                  </mat-expansion-panel>

                  <button class="mb-4" color="warn" mat-raised-button type="submit" [disabled]="!flexibleForm.valid">
                    Save config
                  </button>

                </div>
                <div class="col-1"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</wrapper>
