<wrapper [class]='myClass'>
  <div class="header"></div>
  <div class="page">
    <div class="container-fluid w-responsive">
      <div class="row">
        <div class="col-md-12 min-heigth">
          <div class="card">
            <p class="text-center h3 pt-5 mb-4">Kubernetes Setup</p>
            <form class="text-center" [formGroup]="kubeconfigForm" novalidate>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                  <mat-expansion-panel class="mb-2">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Cluster
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Kubernetes namespace" formControlName="nameSpace" required>
                      <mat-error *ngFor="let validation of cluster_validation_messages.nameSpace">
                        <mat-error *ngIf="kubeconfigForm.get('nameSpace').hasError(validation.type) && (kubeconfigForm.get('nameSpace').dirty || kubeconfigForm.get('nameSpace').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Cluster name" formControlName="clusterName" required>
                      <mat-error *ngFor="let validation of cluster_validation_messages.clusterName">
                        <mat-error *ngIf="kubeconfigForm.get('clusterName').hasError(validation.type) && (kubeconfigForm.get('clusterName').dirty || kubeconfigForm.get('clusterName').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Server endpoint" formControlName="serverName" required>
                      <mat-error *ngFor="let validation of cluster_validation_messages.serverName">
                        <mat-error *ngIf="kubeconfigForm.get('serverName').hasError(validation.type) && (kubeconfigForm.get('serverName').dirty || kubeconfigForm.get('clusterName').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-slide-toggle class="full-width mb-2" formControlName="verifyTls" [(ngModel)]="disabled">
                      Verify Tls server
                    </mat-slide-toggle>
                    <mat-form-field *ngIf="kubeconfigForm.value.verifyTls" class="full-width" [disabled]="!disabled">
                      <textarea matInput matTextareaAutosize matAutosizeMinRows=4 matAutosizeMaxRows=10 placeholder="Certificate authority" formControlName="serverCA" required>
                      </textarea>
                    </mat-form-field>
                  </mat-expansion-panel>
                  <mat-expansion-panel class="mb-2">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        User
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Username" formControlName="userName" required>
                      <mat-error *ngFor="let validation of cluster_validation_messages.userName">
                        <mat-error *ngIf="kubeconfigForm.get('userName').hasError(validation.type) && (kubeconfigForm.get('userName').dirty || kubeconfigForm.get('userName').touched)">
                          {{ validation.message }}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <textarea matInput matTextareaAutosize matAutosizeMinRows=4 matAutosizeMaxRows=10 placeholder="User client certificate" formControlName="userClientCert" required>
                      </textarea>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <textarea matInput matTextareaAutosize matAutosizeMinRows=4 matAutosizeMaxRows=10 placeholder="User client certificate key" formControlName="userClientKey" required>
                      </textarea>
                    </mat-form-field>
                  </mat-expansion-panel>

                  <mat-expansion-panel class="mb-3">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Context
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Context Name" formControlName="contextName" readonly>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Cluster name" formControlName="contextCluster" [value]="kubeconfigForm.get('clusterName').value" readonly>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Username" formControlName="contextUsername" [value]="kubeconfigForm.get('userName').value" readonly>
                    </mat-form-field>
                  </mat-expansion-panel>
                  <button class="mr-2" color="primary" mat-raised-button [disabled]="!kubeconfigForm.valid" (click)="testConfig(kubeconfigForm.value)">
                    Check config
                  </button>
                  <button class="mb-4" color="warn" mat-raised-button (click)="saveConfig(kubeconfigForm.value)" [disabled]="!configChecked">
                    Save config
                  </button>
                </div>
                <div class="col-1"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</wrapper>
