$color_1: #ff9800;
$color_2: #00c3db;
$color_3: #9c27b0;
$color_4: #89be50;

.min-heigth {
	min-height: 410px;
}
.progress .indeterminate { 
	background-color: #46BFBD; 
}

/* small bundle*/
div[class^="triple-column"],
div[class*=" triple-column"] {
  width: 33%;
	float: left;
  padding: 0 .5rem;
  .card {
		//min-height: 175px;
		cursor: pointer;
		transition: box-shadow .2s linear;
		-webkit-transition: box-shadow .2s linear;
		&:hover {
			box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
		}
	}
}

// div[class^="quadruple-column"],
// div[class*=" quadruple-column"] {
// 	width: 25%;
// 	float: left;
// 	padding: 0 .5rem;
// 	.card {
// 		min-height: 175px;
// 		cursor: pointer;
// 		transition: box-shadow .2s linear;
// 		-webkit-transition: box-shadow .2s linear;
// 		&:hover {
// 			box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
// 		}
// 	}
// }

[class*="pt-2-and-half"] {
  padding-top: 1rem;
}

[class*="texte-center"] {
	text-align: center;
}

[class*="-border"] {
	.card-header {
		border-radius: 0px !important;
	}
}

/*
.wow {
	visibility: hidden;
}
.triple-column-card {
	width: 33%;
	float: left;
	padding: 0 .5rem;
	.card {
		min-height: 175px;
		cursor: pointer;
		transition: box-shadow .2s linear;
		-webkit-transition: box-shadow .2s linear;
		&:hover {
			box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
		}
	}
}
[class*="-border"] {
	.card-header {
		border-radius: 0px !important;
	}
}
.orange-border {
	border: 2px solid #ff9800 !important;
}
.cyan-border {
	border: 2px solid #00c2db !important;
}
.purple-border {
	border: 2px solid #9c27b0 !important;
}
.light-green-border {
	border: 2px solid #89be50 !important;
}
.h-2 {
	height: 4rem;
}
.orange-text {
	color: $color_1 !important;
	font-weight: 700;
}
.cyan-text {
	color: $color_2 !important;
	font-weight: 700;
}
.purple-text {
	color: $color_3 !important;
	font-weight: 700;
}
.light-green-text {
	color: $color_4 !important;
	font-weight: 700;
}
.pt-2-and-half {
	padding-top: 2.5rem;
}
*/ 