<mdb-breadcrumb>
  <mdb-breadcrumb-item class="active">r-Gateway</mdb-breadcrumb-item>    
  <div *ngIf="orgPref.name" class="ml-auto">{{ orgPref.name }}</div>
</mdb-breadcrumb>
<div *ngIf="error; then errorBlock else projectBlock"></div>
<ng-template #errorBlock>
  <div class="container-fluid mx-auto p-3 mt-2">
    <div class="row mt-4">
      <div class="col-md-1 min-heigth"></div>
      <div class="col-md-10">
        <notifier-container></notifier-container>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</ng-template>
<ng-template #projectBlock>
  <div class="container-fluid mx-auto p-3 mt-2">
    <div class="row mt-4">
      <div class="col-md-1 col-xl-2 min-heigth">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="searchText" type="text" placeholder="Search" id="search">
        </mat-form-field>
        <h6 class="text-muted font-weight-bold">Environment</h6>
        <section>
          <div class="full-width" *ngFor="let env of projects | unique">
            <mat-checkbox (change)="checkCheckBoxvalue($event)" [name]="env" [value]="env">{{env}}</mat-checkbox>
          </div>
        </section>
      </div>
      <div class="col-md-10 col-xl-8">
        <div *ngFor="let p of projects | filter: searchText : filterBox; let i=index;">
          <div class="triple-column mb-3">
            <!-- Card -->
            <div class="card">
              <!-- Content -->
              <a href="#" [routerLink]="['/r-Gate/' + p.id ]" routerLinkActive="router-link-active" class="waves-light border border-light" mdbWavesEffect>
                <div class="warning-color-dark texte-center white-text d-flex font-weight-bold">              
                  <div class="first-content align-self-center ml-4 py-2">
                    {{ p.id }}
                  </div>
                  <div class="second-content align-self-center ml-auto mr-4">
                    <i class="fas fa-project-diagram"> </i>
                  </div>
                </div>
              
                <!-- Data -->
                <div class="third-content mr-auto ml-2 mb-2 mt-2">
                  <p class="mb-0 mt-0 text-muted font-weight-bold">Organization: <i>{{ p.org }}</i></p>
                  <p class="mb-0 mt-0 text-muted font-weight-bold">Environment: <i>{{ p.env }}</i></p>
                </div>
                <!-- Content -->
                <div class="card-body">
                  <div *ngIf="p.containers">
                    <div class="progress md-progress ml-0">
                      <div class="progress-bar {{ p.containersState }}" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <i class="fab fa-docker">
                          {{ p.containersRunning }} / {{ p.containers.length }} 
                        </i>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-xl-2"></div>
    </div>
  </div>
</ng-template>
