<mdb-breadcrumb>
  <mdb-breadcrumb-item class="active">Offers</mdb-breadcrumb-item>  
</mdb-breadcrumb>
<notifier-container></notifier-container>
<div class="container-fluid mx-auto p-3 mt-2">
  <div class="row mt-4">
    <div class="col-md-1 min-heigth"></div>
    <div class="col-md-10">
    <div class="card row pb-5">
      <div class="row title-project warning-color-dark narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <div></div>
        <div class="font-weight-bold">
          Offers
        </div>
        <div>
          <!-- <button type="button" outline="true" class="p-2" mdbBtn color="light" data-toggle="modal" data-target="#basicExample">
            <mdb-icon fas icon="plus-circle" size="2x"></mdb-icon>
          </button> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 px-5">
          <!-- <div class="md-form my-0">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
            <label for="search">Search</label>
          </div> -->
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="searchText" type="text" placeholder="Search" id="search">
          </mat-form-field>
        </div>
      </div>
      <div class="px-4">
        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0rem;" *ngFor="let el of allProducts | filter: searchText; let i = index">
            <mat-expansion-panel-header (click)="getProductDescription(el)">
              <mat-panel-title class="developer-table">
                <table class="developer-table">
                  <td class="text-muted font-weight-bold app-width"> {{ el }} </td>
                  <!-- <td class="text-muted font-weight-bold developer-width">
                    <i *ngFor="let env of el.environments; let e = index">
                      {{ env }}
                    </i>
                  </td> -->
                </table>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>