.min-heigth-tab {
	min-height: 270px;
}

.mat-expansion-panel-header-description {
  display: unset;
}

.mat-form-field-textarea {
  width: 420px;
}

.textarea {
  height: 100px;
}

.developer-table {
  width: 100%;
  .app-width {
    width: 25%;
  }
  .developer-width {
    width: 75%;
  }
  .environment-width {
    width: 90%;
    height: 40px;
  }
  .deployment-width {
    width: 10%;
    height: 40px;
  }
}

.badge-product {
  float: right;
  margin-top: -55px;
  z-index: 2;
}

[class^="btn-outline-"],
[class*=" btn-outline-"] {
  border: 0 !important;
  box-shadow: unset;
  margin: 0;
  padding: 0 !important;
}

.card {
  //cursor: pointer;
  transition: box-shadow .2s linear;
  -webkit-transition: box-shadow .2s linear;
  border-radius: 0rem;
}

.data-table-right {
  margin-left: auto;
  text-align: right;
}

.badge-font {
  font-size: 0.9rem;
  float: right;
  text-align: right;
  margin-right: 2rem;
}

.table-link {
  color: #007bff;
}