<wrapper [class]='myClass'>
  <div class="header"></div>
  <div class="page">
    <div class="container-fluid w-responsive">
      <div class="row">
        <div class="col-md-12 min-heigth">
          <div class="card">
            <p class="text-center h3 pt-5 mb-4">Redis Setup</p>
            <form class="text-center" [formGroup]="redisForm" novalidate>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                  <mat-expansion-panel class="mb-3">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Redis
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Redis host" formControlName="redisHost" required>
                      <mat-error *ngFor="let validation of redis_validation_messages.redisHost">
                        <mat-error *ngIf="redisForm.get('redisHost').hasError(validation.type) && (redisForm.get('redisHost').dirty || redisForm.get('redisHost').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Redis port" formControlName="redisPort" required>
                      <mat-error *ngFor="let validation of redis_validation_messages.redisPort">
                        <mat-error *ngIf="redisForm.get('redisPort').hasError(validation.type) && (redisForm.get('redisPort').dirty || redisForm.get('redisPort').touched)">
                          {{validation.message}}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                  </mat-expansion-panel>
                  <button class="mb-4" color="orange" mat-raised-button [disabled]="!redisForm.valid" (click)="saveConfig(redisForm.value)">
                    Save config
                  </button>
                </div>
                <div class="col-1"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</wrapper>
