<nav class="navbar navbar-expand-lg navbar-light grey lighten-3">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="#" [routerLink]="['/projects']" routerLinkActive="router-link-active">Projects</a>
    </li>
    <i>&nbsp;&nbsp;/&nbsp;&nbsp;</i>
    <li class="nav-item">
        {{ project.id }}
    </li>
  </ul>
</nav>
<div class="container-fluid px-5 mb-5">
  <div class="row mt-5">
    <div class="col-md-12">
      <!-- Card -->
      <div class="card gradient-card">
        <!-- Content -->
        <div class="title-project">
          <i class="fas fa-project-diagram fa-2x  blue-gradient-rgba ml-5"> </i>
          <!-- Data -->
          <div class="data-title">
            <p class="font-weight-bold">{{ project.id }}</p>
          </div>
          <div class="data">          
            <p>{{ project.describe.contact }}</p>
            <a href='{{ project.describe.endpoint }}' target="_blank">{{ project.describe.endpoint }}</a>
          </div>
        </div>
        <!-- Content -->
        <div class="row mt-2">
          <div class="col-md-3">
            <div class="third-content mr-auto ml-3 mb-2 mt-3">
              <p class="mb-0 mt-0 text-muted font-weight-bold">Organization: <i>{{ project.org }}</i></p>
              <p class="mb-0 mt-0 text-muted font-weight-bold">Environment: <i>{{ project.env }}</i></p>
            </div>

            <div class="mb-2 mt-0 mr-5" style="display: block">
              <!-- <div class="text-center">
                <p class="text-muted font-weight-bold" style="margin-bottom: -3.7rem; padding-top: 1rem; font-size: 2rem;">{{ project.container }}</p>
              </div> -->
              <canvas
                baseChart
                [chartType]="chartType"
                [data]="chartData"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="false">
              </canvas>
            </div>
                        
          </div>
          <!-- Containers -->
          <div class="col-md-9">
            <div *ngIf="project.containers">
              <h6 class="mb-0 mt-0 text-muted font-weight-bold">Containers:</h6>
              <hr class="hr-bold mb-3 my-2" />
              <div *ngFor="let c of project.containers; let i=index;">
                <div class="docker-containers ml-0">
                  <a class="col-md-12 card" (click)="container.toggle()" mdbWavesEffect>
                    <div class="title-project mt-1">
                      <i class="ml-2 text-muted font-weight-bold">{{ c.id }}</i>
                      <div class="data mt-0 mr-2">
                        <div *ngIf="(date - c.time) < 60000">
                          <i class="fab fa-docker text-container-run mb-0 mt-0"></i>
                        </div>
                        <div *ngIf="(date - c.time) > 60000">
                          <i class="fab fa-docker text-muted mb-0 mt-0"></i>
                        </div>
                      </div>
                    </div>
                    <div mdbCollapse [isCollapsed]="true" #container="bs-collapse">
                      <hr class="hr-bold mb-3 my-2" />
                      <div class="row mt-1">
                        <div class="col-md-5">
                          <div class="card mb-3">
                            <p class="text-muted ml-2 mr-2 mt-2 mb-0">Created: <i class="float-right font-weight-bold">{{ c.created | date: 'yyyy-MM-dd HH:mm:ss' : cet }}</i></p>
                            <div *ngIf="(date - c.time) < 60000">
                              <p class="text-muted ml-2 mr-2 mt-0 mb-0">Uptime: <i class="float-right font-weight-bold">{{ c.uptime }}</i></p> 
                            </div>
                            <div *ngIf="(date - c.time) > 60000">
                              <p class="red-text ml-2 mr-2 mt-0 mb-0">Downtime: <i class="float-right font-weight-bold">{{ (c.time) | downtime }}</i></p>
                            </div>
                            <p class="text-muted ml-2 mr-2 mt-0 mb-0">Polling interval: <i class="float-right font-weight-bold">{{ c.configPollInterval }} sec</i></p>
                            <p class="text-muted ml-2 mr-2 mt-0 mb-2">Push state interval: <i class="float-right font-weight-bold">{{ c.checkPushInterval }} sec</i></p>
                            <hr class="hr-bold mb-0 my-0" />                                
                            <p class="text-muted ml-2 mr-2 mt-2 mb-0">NodeJS version: <i class="float-right font-weight-bold">{{ c.nodejsVersion }}</i></p>
                            <p class="text-muted ml-2 mr-2 mt-0 mb-0">Edgemicro version: <i class="float-right font-weight-bold">{{ c.edgemicroVersion }}</i></p>
                            <p class="text-muted ml-2 mr-2 mt-0 mb-2">Mgstate version: <i class="float-right font-weight-bold">{{ c.mgstateVersion }}</i></p>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="card">
                            <p class="text-muted ml-2 mr-2 mt-2 mb-1 font-weight-bold"><i>Base path</i><i class="float-right">Proxie name</i></p>
                            <hr class="hr-bold mb-0 my-0" />
                            <div *ngFor="let p of c.proxies; let t=index;">
                              <div *ngIf="p.targetAccess === 'OK'">
                                <p class="ml-2 mr-2 mt-2 mb-0">{{ p.proxiesBasePath }}<i class="my-green-text float-right font-weight-bold"><a mdbTooltip="{{ p.targetAccess }}" placement="left">{{ p.proxiesName }}</a></i></p>
                              </div>
                              <div *ngIf="p.targetAccess != 'OK'">
                                  <p class="ml-2 mr-2 mt-2 mb-0">{{ p.proxiesBasePath }}<i class="red-text float-right font-weight-bold"><a mdbTooltip="{{ p.targetAccess }}" placement="left">{{ p.proxiesName }}</a></i></p>
                              </div>
                            </div>
                            <p class="ml-2 mr-2 mt-2 mb-0"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Containers -->
        </div>
        <!-- <div  class="card-body card-body-cascade"><div  class="progress"><div  aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar grey darken-2" role="progressbar" style="width: 75%"></div></div><p  class="card-text">Worse than last week (75%)</p></div> -->
        <!-- <div class="card-body bb-r">
          <div *ngIf="p.containers">
            <div class="progress md-progress ml-0">
              <div class="progress-bar amber darken-3" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <i class="fab fa-docker">
                  {{ p.containers.length }} 
                </i>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <!-- Card -->
      <!-- <div class="card">
        <div class="card-header cyan texte-center white-text font-weight-bold">
            {{ p.id }}
        </div>
        <div class="card-body pt-2-and-half">
          <h6 class="mt-0 font-weight-bold">org: {{ p.org }}</h6>
          <h6 class="mt-0 font-weight-bold">env: {{ p.env }}</h6>
          <hr class="hr-bold mb-0 my-2" />
          <div *ngIf="p.containers">
            <i class="fab fa-docker"></i>
            : {{ p.containers.length }}
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
