
[class^="title-project"],
[class*=" title-project"] {
  .h2 {
    font-weight: 500;
  }
  .fab {
    padding: 1.7rem;
    //font-size: 2rem;
    color: white;
    text-align: left;
    margin-left: 1rem;
    margin-top: -1.5rem;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);
  }
  .data {
    float: right;
    margin-top: 1rem;
    text-align: right;
    margin-right: 2rem;
    p {
      color: gray;
      font-size: 1.10rem;
      font-weight: 500;
    }
  }
}

div[class^="docker-containers"],
div[class*=" docker-containers"] {
  width: 100%;
	float: left;
  padding: 0 .5rem;
  margin-bottom: .75rem;
  .card {
		cursor: pointer;
		transition: box-shadow .2s linear;
		-webkit-transition: box-shadow .2s linear;
		&:hover {
			box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
		}
  }
  .data {
    float: right;
    text-align: right;
    margin-right: 2rem;
    .text-container-run {
      color: #46BFBD;
    }
    .fab {
      padding: 0;
      font-size: 1.5rem;
      text-align: left;
      margin-left: 1rem;
      margin-top: -1.5rem;
      box-shadow: none;
    }
  }
}

.my-green-text {
  color: #46BFBD;
}

.tooltip-red {
  background: #b71c1c;
}