<mdb-breadcrumb>
  <mdb-breadcrumb-item class="blue-text"><a href="#" [routerLink]="['/proxies']" routerLinkActive="router-link-active">Proxies</a></mdb-breadcrumb-item>
  <mdb-breadcrumb-item *ngIf="descProxie.proxie" class="active">{{ currentProxie }}</mdb-breadcrumb-item>
  <!-- <div *ngIf="orgPref.name" class="ml-auto">{{ orgPref.name }}</div>   -->
</mdb-breadcrumb>
<notifier-container></notifier-container>
<div class="container-fluid mx-auto p-3 mt-2">
  <div class="row mt-4">
    <div class="col-md-1 min-heigth"></div>
    <div class="col-md-10">
    <div class="card row pb-5">
      <div class="row title-project warning-color-dark narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <div></div>
        <div class="font-weight-bold">
          Proxie {{ currentProxie }}
        </div>
        <div>
        </div>
      </div>
      <div class="px-4">
        <div class="row" *ngIf="descProxie.targets">
          <mat-tab-group animationDuration="0ms" class="col-md-12">
            <mat-tab label="Details">
              <form [formGroup]="updateProxieForm" novalidate (ngSubmit)="updateProxie(updateProxieForm.value)">
                <div class="row mx-0">
                  <div class="mt-3 col-md-10">
                    <mat-form-field class="px-3">
                      <input matInput type="text" placeholder="Display name" value="{{descProxie.proxie.displayName}}" disabled="disabled">
                    </mat-form-field>
                    <mat-form-field class="px-3">
                      <input matInput type="text" placeholder="Description" value="{{descProxie.proxie.description}}" disabled="disabled">
                    </mat-form-field>
                    <div>
                      <mat-form-field class="px-3">
                        <input matInput type="text" placeholder="Base Path" formControlName="basePath">
                      </mat-form-field>
                      <mat-form-field class="px-3">
                        <input matInput type="text" placeholder="Target endpoint" formControlName="target">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-1 mt-3">
                    <div *ngIf="disabled">
                      <button type="button" outline="true" class="mr-3 mb-3" mdbBtn color="light" data-toggle="modal" data-target="#basicExample" (click)="disabled = !disabled; createForms()">
                        <mdb-icon far icon="edit" size="2x"></mdb-icon>
                      </button>
                      <button type="button" outline="true" class="mb-3" mdbBtn color="light" data-toggle="modal" data-target="#basicExample" (click)="deleteProxie()">
                        <mdb-icon fas icon="trash-alt" size="2x"></mdb-icon>
                      </button>
                    </div>
                    <div *ngIf="!disabled">
                      <button  outline="true" class="mr-3 mb-3" mdbBtn color="green" type="submit">
                        <mdb-icon far icon="check-circle" size="2x"></mdb-icon>
                      </button>
                      <button type="button" outline="true" class="mb-3" mdbBtn color="red" (click)="disabled = !disabled; createForms()">
                        <mdb-icon far icon="times-circle" size="2x"></mdb-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </mat-tab>
            <mat-tab label="Deployment">
              <div class="mt-3">
                <table class="developer-table">
                  <tr class="developer-table">
                    <td class="text-muted font-weight-bold environment-width"> <i>Environments</i> </td>
                  </tr>
                  <hr class="my-0">
                  <tr class="developer-table" *ngFor="let environment of descProxie.environments; let p = index">
                    <td class="text-muted font-weight-bold environment-width"> {{ environment.env }} </td>
                    <td class="text-muted font-weight-bold deployment-width"> 
                      <mat-slide-toggle [checked]="environment.deploy" (click)="deployProxie(!environment.deploy, descProxie.proxie, environment.env)"></mat-slide-toggle>
                    </td>  
                  </tr>
                </table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>