
.badge-font {
  font-size: 0.9rem;
  float: right;
  text-align: right;
  margin-right: 2rem;
}

.mat-expansion-panel-header-description {
  display: unset;
}

[class^="btn-outline-"],
[class*=" btn-outline-"] {
  border: 0 !important;
  box-shadow: unset;
  margin: 0;
  padding: 0 !important;
}
