<div class="container">
  <div class="row mt-4">
    <div class="col-md-8">
      <div *ngFor="let p of products; let i=index;">
        <div class="triple-column-card mb-3">
          <div class="card">
            <div class="card-header cyan texte-center white-text font-weight-bold">
                {{ p.id }}
            </div>
            <div class="card-body pt-2-and-half">
              <h6 class="mt-0 font-weight-bold">org: {{ p.org }}</h6>
              <h6 class="mt-0 font-weight-bold">env: {{ p.env }}</h6>
              <hr class="hr-bold mb-0 my-2" />
              <div *ngIf="p.containers">
                <i class="fab fa-docker"></i>
                : {{ p.containers.length }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-uppercase my-3">Detail</h3>
    </div>
  </div>
</div>