<mdb-breadcrumb>
  <mdb-breadcrumb-item class="active">Offers</mdb-breadcrumb-item>
  <div *ngIf="orgPref.name" class="ml-auto">{{ orgPref.name }}</div>
</mdb-breadcrumb>
<notifier-container></notifier-container>
<!-- <div class="container-fluid mx-auto p-3 mt-2">
  <div class="row mt-4">
    <div class="col-md-1 min-heigth"></div>
    <div class="col-md-10">
    <div class="card row pb-5">
      <div class="row title-project warning-color-dark narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <div></div>
        <div class="font-weight-bold">
          Products
        </div>
        <div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 px-5">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="searchText" type="text" placeholder="Search" id="search">
          </mat-form-field>
        </div>
      </div>
      <div class="px-4">
        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0rem;" *ngFor="let el of allProducts | filter: searchText; let i = index">
            <mat-expansion-panel-header [routerLink]="['/product/' + el.name]" routerLinkActive="router-link-active">
              <mat-panel-title class="text-muted font-weight-bold">{{ el.displayName }}</mat-panel-title>
              <mat-panel-description>
                <ng-container *ngIf="el.hidden; then hidden"></ng-container>
                <ng-template #hidden>
                  <mdb-badge pill="true" warning="true" class="badge-font">Hidden</mdb-badge>
                </ng-template>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div> -->

<div class="container-fluid mx-auto p-3 mt-2">
  <div class="row mt-4">
    <div class="col-md-1 col-xl-2 min-heigth">
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="searchText" type="text" placeholder="Search" id="search">
      </mat-form-field>
    </div>
    <div class="col-md-10 col-xl-8">
      <div *ngFor="let el of allProducts | filter: searchText; let i=index;">
        <div class="triple-column mb-3">
          <!-- Card -->
          <div class="card">
            <!-- Content -->
            <a href="#" [routerLink]="['/product/' + el.name ]" routerLinkActive="router-link-active" class="waves-light border border-light offers-min-heigth" mdbWavesEffect>
              <div class="warning-color-dark texte-center white-text d-flex">              
                <div class="first-content align-self-center ml-4 py-2">
                  {{ el.displayName }}
                </div>
              </div>
            
              <!-- Data -->
              <div class="third-content mr-auto ml-2 mb-2 mt-2">
                <p class="mb-0 mt-0 text-muted"><i><div [innerHtml]="el.description"></div></i></p>
                <!-- <p class="mb-0 mt-0 text-muted font-weight-bold">Environment: <i>{{ p.env }}</i></p> -->
              </div>
              <!-- Content -->
              <div class="card-body"> 
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-xl-2"></div>
  </div>
</div>