.navbar-brand {
    .font-xsmall {
        float: left;
        font-size: 0.8rem;
        margin-top: -.5rem;
    }
}

.navbar .navbar-brand h2 {
	color: white;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 800;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
	font-style: normal;
	color: #f69730;
}