<!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark special-color-dark sticky-top">
    
    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand mr-0" href="#"><i class="h4-responsive">f-reGate</i>
        <i class="font-xsmall">Frontend-remoteGateway</i>
      </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul *ngIf="checkAuth()" class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of navigationSideMenu">
          <a href="#" [routerLink]="[item.link]" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="{{ item.icon }}"></mdb-icon> {{ item.label }}
          </a>
        </li>
      </ul>
      <div *ngIf="!auth.userIsLoggedIn()">
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item" *ngFor="let item of navigationOtherSideMenu">
            <a href="#" [routerLink]="[item.link]" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>
              <mdb-icon fas icon="{{ item.icon }}"></mdb-icon> {{ item.label }}
            </a>
          </li>
        </ul>
       </div>

      <div *ngIf="auth.userIsLoggedIn()">
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a> -->
              <a *ngFor="let item of navigationOtherSideMenu" href="#" [routerLink]="[item.link]" class="dropdown-item waves-light" mdbWavesEffect>
                {{ item.label }}
              </a>
              <a href="#" (click)="auth.logout()" class="dropdown-item waves-light" mdbWavesEffect>
                  Logout
              </a>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a href="#" (click)="auth.logout()" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>
              Logout
            </a>
          </li> -->
        </ul>
        
      </div>
        

        <!-- <li class="nav-item">
          <a href="https://github.com/DavidLepoultier/mgstatus-angular" target="_blank" class="nav-link">
            <i class="fab fa-git-square fa-2x"></i>
          </a>
        </li> -->
        <!-- <li class="nav-item">
            <a href="#" [routerLink]="login" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Login<span class="caret"></span></a>
        </li> -->
        <!-- Dropdown -->
        <!-- <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li> -->
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  </nav>
<!--/.Navbar-->
