/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

.field-icon {
  float: right;
  margin-top: -19px;
  margin-right: -20px;
  z-index: 2;
  padding-right: 1.5rem;
  font-weight: 400;
}

.mat-form-field-label {
  //font-size: larger !important;
  font-weight: 500 !important;
}

.modal {
  z-index: 999;
}

.full-width {
  width: 100%;
}

.login-error {
	margin-bottom: -2.5rem;
}

.min-heigth {
	min-height: 392px;
}

body, html {
  height: 100%;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .logo {
    width: 80px;
    height: 80px;
    background: url(./assets/logo.png) center center no-repeat;
    background-size: cover;
  }
  .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: #ddd;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
