/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

.field-icon {
  float: right;
  margin-top: -19px;
  margin-right: -20px;
  z-index: 2;
  padding-right: 1.5rem;
  font-weight: 400;
}

.mat-form-field-label {
  //font-size: larger !important;
  font-weight: 500 !important;
}

.modal {
  z-index: 1000;
}

.full-width {
  width: 100%;
}

.login-error {
	margin-bottom: -2.5rem;
}

.min-heigth {
	min-height: 392px;
}

body, html {
  height: 100%;
}

[class^="title-project"],
[class*=" title-project"] {
  padding: 1.7rem;
  //font-size: 2rem;
  color: white;
  text-align: left;
  margin-left: 1rem;
  margin-top: -1.5rem;
  border-radius: 3px;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);
  .h2 {
    font-weight: 500;
  }
  .data-title {
    float: left;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1rem;
    p {
      color: gray;
      font-size: 1.10rem;
      font-weight: 500;
    }
  }
  .data {
    margin-left: auto;
    float: right;
    margin-top: 1rem;
    text-align: right;
    margin-right: 2rem;
    p {
      color: gray;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .logo {
    width: 80px;
    height: 80px;
    background: url(./assets/logo.png) center center no-repeat;
    background-size: cover;
  }
  .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: #ddd;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
